.footer {
    background-color: $color-dark;
    color: $color-white;
    padding: $spacing-unit * 2;
    text-align: center;

    &__links a {
        text-decoration: none;
        color: $color-secondary;
        margin: 0 calc($spacing-unit / 2);

        &:hover {
            text-decoration: underline;
        }
    }
}
