$color-primary: #0056B3;
$color-secondary: #00BFFF;
$color-accent: #009ACD;
$color-dark: #003366;
$color-light: #f5f5f5;
$color-text: #555;
$color-white: #fff;

$font-family-base: 'Poppins', sans-serif;

$border-radius: 10px;
$spacing-unit: 5px;

$breakpoint-large: 1200px;
$breakpoint-medium: 1024px;
$breakpoint-small: 768px;